@import 'foundation/mixins';

.page {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 300px;
    position: relative;
    z-index: 1;
    padding: 120px 20px 0;
    /* width: calc(100% - 20px); */
    width: 100%;

    @include desktop {
        padding: 50px 2em 50px 200px;
    }
}

.hero {
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    /* padding: 120px 20px 0; */
    padding-top: 0;
    padding-left: 0;
    padding: 0;

    @include desktop {
        padding-left: var(--sidebar-width);
        padding-top: 120px;
        margin-bottom: 10vh;
    }

    .p1 {
        display: flex;
        flex-direction: row;
        margin-top: -30%;

        @include desktop {
            width: 65%;
            margin-top: 0;
        }

        &.p1-2 {
            justify-content: flex-end;
            margin-top: 0;

            @include desktop {
                justify-content: flex-end;
                padding: 0.5em 8em 0.5em 0;
                margin-top: 0;
            }
        }
    }

    .tagline {
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
        width: 70%;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 20px;
        display: inline;
        height: 1.2em;
        text-align: center;
        white-space: nowrap;

        @include desktop {
            font-size: 1.8em;
            padding: 0.3em 4em 0 0;
            margin-top: 0;
        }

        div {
            display: inline;
        }
        .orange {
            color: #ff6945;
        }

        #p1-tag-sidenote {
            display: block;
            margin-top: 20px;
            font-size: 0.7em;
        }
    }
}
