@import 'foundation/mixins';

.work {
    section {
        gap: calc(var(--gutter) * 2) var(--gutter);
        grid-column: 1 / span var(--col-num);

        @include desktop {
            gap: var(--gutter);
            grid-template-columns: repeat(var(--col-num), 1fr);
        }
    }

    .separator {
        display: none;

        @include desktop {
            display: grid;
        }
    }

    .work-item {
        grid-column: 1 / span var(--col-num);
        @include desktop {
            grid-column: auto / span calc((var(--col-num) - 2) / 2);
        }
    }

    &.indent {
        section {
            grid-column: 1 / span var(--col-num);
            grid-template-columns:
                calc(var(--naw-width) - var(--gutter) * 2 - var(--gap))
                repeat(calc(var(--col-num) - 1), 1fr);

            @include desktop {
                grid-column: 3 / span calc(var(--col-num) - 2);
                grid-template-columns: repeat(calc(var(--col-num) - 2), 1fr);
            }
        }

        .work-item {
            grid-column: 1 / span calc(var(--col-num));

            @include desktop {
                grid-column: auto / span calc((var(--col-num) - 2) / 2);
            }
        }
    }
}

.work-item {
    position: relative;
    display: block;
    height: 120vw;

    @include desktop {
        height: 40vw;
    }

    &--narrow {
        height: 100vw;

        @include desktop {
            grid-column: auto / span 4 !important;
            height: 38vw;
        }
    }

    &--wide {
        height: 100vw;

        @include desktop {
            grid-column: auto / span 6 !important;
            height: 38vw;
        }
    }

    &--full-bleed {
        grid-column-end: span 8;
        height: 100vw;

        @include desktop {
            grid-column: auto / span var(--col-num) !important;
            height: 52vw;
        }
    }

    .picture-container {
        display: block;
        clip-path: inset(0 round var(--border-radius));
        position: relative;
        transition: clip-path 0.4s 0.1s var(--timing-function);
        height: 100%;
        width: 100%;
    }

    picture {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            will-change: transform;
        }
    }

    h4 {
        background: rgba(30, 30, 30, 0.7);
        border-radius: var(--border-radius);
        bottom: 16px;
        color: white;
        font-weight: 300;

        left: calc(16px + 2em);
        letter-spacing: 1px;
        line-height: 2;
        margin: 0;
        padding: 5px 15px;
        position: absolute;
        right: auto;
        transform-origin: 0 100%;
        transform: rotate(-90deg);
        transition: all 0.4s var(--timing-function);
        z-index: 10;
        @include font-size(21, 26, 1.5, 1);

        @include desktop {
            background: none;
            border-radius: var(--border-radius);
            bottom: auto;
            color: rgba(255, 255, 255, 0.5);
            left: 70px;
            letter-spacing: 0px;
            opacity: 0;
            top: 0%;
            transform: rotate(0deg) translateY(-50%);

            // color: rgba(255, 255, 255, 0.5) !important;
        }
    }
}

a.work-item:hover {
    .picture-container {
        clip-path: inset(2em round var(--border-radius));
        transition: clip-path 0.4s var(--timing-function);
    }

    h4 {
        transition: all 0.4s 0.2s var(--timing-function);

        opacity: 1;
        @include desktop {
            transform: translateY(0);
        }
    }
}

.index .work-item:nth-child(2n) {
    @include desktop {
        margin-top: 6em;
        margin-bottom: -6em;
    }
}

.index .work-item:not([href]) .picture-container::after {
    content: 'case study \00000a coming soon';
    position: absolute;
    text-align: center;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 1);
    opacity: 0;
    transition: opacity 0.4s 0.2s var(--timing-function);
    //// color: white;
    white-space: pre;
    @include font-size(20, 20);
}

.index .work-item:not([href]):hover .picture-container::after {
    opacity: 1;
    transition: opacity 0.4s var(--timing-function);
}
