@use 'foundation/fonts';
@use 'foundation/lenis';

@import 'foundation/mixins';

:root {
    --col-num: 8;
    --gutter: 10px;
    --gap: 10px;
    --accent-color: #ff6945;
    --naw-width: 80px;
    --color-1: #1e1e1e;

    @media screen and (min-width: 768px) {
        --col-num: 10;
        --gap: 2em;
        --gutter: 2em;
        --naw-width: 100px;
    }
}

$bg-color: #1e1e1e;
$orange: rgb(255, 105, 69);

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100% !important;
    background: var(--color-1) url(../images/bg.png);

    @include desktop {
        font-size: 1vw;
    }
}

header {
    display: flex;
    padding: 180px calc(var(--gutter) * 2) 0;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;

    @include desktop {
        padding: var(--naw-width) calc(var(--naw-width)) 0
            calc(var(--naw-width));
        margin-bottom: 10vh;
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            width: 55%;
            align-items: unset;
        }

        span:first-child {
            margin-top: -30%;
            @include desktop {
                margin-top: 0;
            }
        }

        span:last-child {
            @include desktop {
                align-self: end;
                margin-top: 0.08em;
            }
        }
    }

    .tagline {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        white-space: nowrap;
        padding-top: 20px;

        @include desktop {
            font-size: 1.8em;
            padding-top: 0.85em;
        }
    }

    .side {
        padding-top: 20px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.3);
        @include desktop {
            font-size: 0.7em;
            padding-top: 1em;
        }
    }

    .circle {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 230px;
        height: 130px;
        position: relative;
        margin-top: 186px;
        bottom: 5%;

        @include desktop {
            position: absolute;
            bottom: 7em;
            right: 7em;
            left: auto;
            width: 116px;
            height: 116px;
            margin-top: 0;
        }

        .scroll-text-wrapper {
            transform: translate(0px, 0px);
            opacity: 1;
            width: 90px;
            height: 90px;

            @include desktop {
                width: 70%;
                height: 70%;
            }
        }

        .scroll-line {
            transform: translateY(-50%);
        }
    }

    .orange {
        color: var(--accent-color);
    }
}

nav {
    width: 100%;
    height: var(--naw-width);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;

    @include desktop {
        width: var(--naw-width);
        padding-bottom: var(--naw-width);
        height: unset;
        flex-direction: column;
    }

    .logo {
        display: block;
        width: 80px;
        height: 80px;

        @include desktop {
            margin: 10px;
        }

        img {
            height: 40px;
            margin: 20px;
            width: 40px;
        }
    }
    .menu {
        // display: none;
        font-size: 20px;
        @include desktop {
            display: flex;
        }
    }

    .scroll {
        position: absolute;
        height: 100vh;
        width: var(--naw-width);
        top: 0;
        display: none;
        left: 0;
        border-right: 1px solid var(--accent-color);

        @include desktop {
            display: block;
        }
    }
}

main {
    display: flex;
    // grid-template-columns: 2fr 8fr;
    flex-direction: column;
    gap: 0 var(--gutter);
    padding: 0 calc(var(--gutter) * 2);

    @include desktop {
        padding: 0 calc(var(--gutter) * 2) 0 calc(var(--naw-width) * 2);
    }
}

article {
    display: grid;
    grid-template-columns: repeat(var(--col-num), 1fr);
    grid-column: 1 / span 2;
    gap: calc(var(--gutter) * 2) var(--gutter);
    padding-bottom: 180px;
    // padding-bottom: 180px;

    @include desktop {
        gap: 0 var(--gutter);
        padding-bottom: 300px;

        // padding-bottom: 250px;
        // margin-bottom: 300px;
        // margin-bottom: 14em;
    }

    & > h1,
    & > h2,
    & > h3 {
        grid-column: 1 / span var(--col-num);
    }

    //     &.short {
    //         @include desktop {
    //             grid-column: 1 / span 4;
    //         }
    //     }
    // }

    h2.padded {
        margin-bottom: 20px;
        @include desktop {
            margin-bottom: 110px;
        }
    }
    h2 {
        line-height: 1.3;
        @include desktop {
            line-height: 1.3;
        }
    }

    // h2 {
    //     padding-bottom: 15px;
    //     @include desktop {
    //         padding-bottom: 0;
    //     }
    // }
}

aside {
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Helveticanowdisplay extlt';
    line-height: 1.2;
    // font-size: 2em;
    font-size: 1em;
    display: none;
    grid-column: 1 / span 1;

    @include desktop {
        display: flex;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: 1 / span 8;
    gap: var(--gutter);

    p {
        font-size: 21px;

        @include desktop {
            font-size: 1.27em;
        }
    }
    @include desktop {
        grid-column: 3 / span 8;
        margin-bottom: 8em;
        * {
            font-size: 1.27em;
        }
    }
}

.work {
    .separator {
        display: none;
        grid-column: 3 / span 8;
        margin-top: 110px;
        margin-bottom: 130px;

        @include desktop {
            display: grid;
        }
    }

    a {
        grid-column-end: span 8;
        margin-bottom: calc(var(--gutter) * 2);
        position: relative;

        &:hover {
            .item-container {
                clip-path: inset(2em 2em 2em 2em round 1em);
            }
            h4 {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @include desktop {
            grid-column-end: span 4;
            margin-bottom: 0;

            &:nth-child(2n) {
                margin-top: 6em;
                margin-bottom: -6em;
            }
        }

        .item-container {
            overflow: hidden;
            transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
            clip-path: inset(0 0 0 0 round 1em);

            .image-container {
                width: 100%;
                height: 0;
                padding-bottom: 120%;
                position: relative;
                overflow: hidden;
                border-radius: 16px;
                @include desktop {
                    border-radius: 1em;
                }

                picture {
                    transition: all 0.4s 0.2s var(--timing-function);
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        h4 {
            position: absolute;
            font-size: 21px;
            font-weight: 400;
            line-height: 2;
            bottom: 1em;
            right: auto;
            z-index: 10;
            margin: 0;
            color: rgb(255, 255, 255);
            transform: rotate(-90deg);
            transform-origin: 0 100%;
            background: rgba(30, 30, 30, 0.7);
            padding: 5px 15px;
            left: 70px;
            border-radius: 16px;

            @include desktop {
                font-size: 1.27em;
                line-height: 1.1;
                font-weight: 300;
                background: none;
                transform: rotate(0deg) translateY(-50%);
                opacity: 0;
                top: 0%;
                bottom: auto;
                color: rgba(255, 255, 255, 0.5) !important;
                transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
            }
        }
    }
}

.skills {
    .separator {
        display: none;

        @include desktop {
            display: grid;
            grid-column: 3 / span 8;
            margin-top: 110px;
            margin-bottom: 130px;
        }

        &.short {
            grid-column: 4 / span 4;
        }
    }

    section {
        gap: var(--gutter);
        grid-template-columns: repeat(10, 1fr);
        margin-bottom: 0;

        * {
            font-size: 18px;
            line-height: 1.2;
            display: flex;
            align-items: center;
        }

        @include desktop {
            grid-column: 3 / span 6;
            gap: 1em var(--gutter);
            grid-template-columns: repeat(8, 1fr);

            * {
                font-size: 1.27em;
                line-height: 0.8;
            }
        }

        &.skiull-subtitle {
            @include desktop {
                display: none;
            }
        }

        .hgroup {
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            font-size: 16px;
            opacity: 0.7;
            letter-spacing: 4px;
            display: grid;

            @include desktop {
                font-size: 1em;
            }

            &.full {
                grid-column: 1 / span 10 !important;
                text-align: center;

                @include desktop {
                    grid-column: 1 / span 8 !important;

                    display: none;
                }
            }

            & + .hgroup {
                text-align: right;
                grid-column: 5 / span 6;

                @include desktop {
                    grid-column: 4 / span 5;
                }
            }
        }

        .skill-title,
        .hgroup:first-child {
            grid-column: 1 / span 4;

            @include desktop {
                grid-column: 1 / span 3;
            }
        }

        .bar {
            overflow: hidden;
            grid-column: 5 / span 6;

            @include desktop {
                grid-column: 4 / span 4;
            }

            div {
                color: $bg-color;
                text-indent: 0.5ch;
                background-color: var(--accent-color);
                font-family: 'Helveticanowdisplay';

                @include desktop {
                    text-indent: -100px;
                }
            }
        }

        .value {
            display: none;
            @include desktop {
                display: grid;
                text-align: right;
            }
        }
    }
}

.fact {
    p {
        grid-column: 3 / span 6;

        @include desktop {
            grid-column: 1 / span 4;
            margin-right: 10%;
        }
    }

    .separator {
        grid-column: 3 / span 6;
        padding-bottom: 10px;

        @include desktop {
            grid-column: 3 / span 4;
            margin-right: 10%;
            padding-bottom: 30px;
        }
    }
}

.recommendations {
    section {
        gap: 0 var(--gutter);
    }

    h2 {
        font-size: 42px;
        font-family: 'Helveticanowdisplay extlt', sans-serif;
        color: rgba(255, 255, 255, 0.7);
        font-weight: normal;
        line-height: 1;

        @include desktop {
            font-size: 5.07em;
            grid-column: 1 / span 5;
            margin-bottom: 0.5em;
        }
    }

    p,
    span {
        grid-column: 1 / span 8;

        @include desktop {
            grid-column: 1 / span 4;
        }
    }

    span {
        font-size: 15px;

        @include desktop {
            font-size: 1em;
        }
    }

    .separator {
        grid-column: 1 / span 8;
        @include desktop {
            grid-column: 3 / span 4;
            margin-right: 10%;
            margin-bottom: 1em;
        }
    }

    h3 {
        margin-top: 30px;
        line-height: 1.3;
        grid-column: 1 / span 8;
        font-size: 30px;

        @include desktop {
            grid-column: 1 / span 4;
            font-size: 2.5em;
        }
    }

    span {
        text-transform: uppercase;
        letter-spacing: 3px;
        opacity: 0.8;
        color: var(--theme-color, #ff6945);
    }
}

.separator {
    border-top: 1px solid hsla(0, 0%, 100%, 0.15);
    display: block;
    height: 1px;

    @include desktop {
        display: block;
    }
}
