

/* 


.page1 {
    height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page1 h1 {
    font-size: 8em;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-3);
    font-weight: 300;
    font-family: "Wulkan display";
}

.p1-1 {
    align-self: start;
    margin-left: 15%;

}

.p1-2 {
    align-self: end;
    margin-right: 15%;

}

.page1 > p {
    margin-top: 5vh;
    color: var(--color-2);
    font-family: "Montserrat";
    font-size: 25px;
}

.page1 span {
    color: var(--color-5);
}

.page h2 {
    flex: 0;
    font-family: "Wulkan display";
    color: var(--color-5);
    font-size: 8em;
    margin: 0;
    font-weight: 300;
    transform-origin: center center;
    line-height: 1.4;
}


.page {
    display: block;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
    font-family: "Montserrat";
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 8em;
}

.page div {
    display: flex;
}

.page div span {
    margin-right: 2vw;
    margin-left: 5vw;
}

.page .content {
    color: var(--color-3);
    max-width: 1140px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: space-between;
    padding: 0 2em;
}

.page .content::before {
    display: block;
    width: 100%;
    height: 1px;
    margin:  calc(8em * 0.7) 0 ;
    background: rgba(255, 255, 255, .2);
    content: '';
}

.page2 p {
    font-family: "Montserrat";
    font-size: 24px;
    margin: 0 0 24px;
    text-indent: 50px;
    line-height: 1.5;
}


@media only screen and (max-width: 1024px) {
    .page h2 {
        font-size: 4em;
        writing-mode: vertical-lr;
        transform: rotateZ(180deg);
        padding: 0 0 1.4em;
    }

    .page2 p {
        font-size: 16px;
    }

    .page div span {
        margin: 0 !important;
    }

    .page .content {
        padding: 0 1em
    }

    .page .content::before {
        margin: calc(8em* 0.5) 0;
    }

    .page h2 {
        padding: 0 0 0.7em;
    }
}





@keyframes slide-right {
    from {
        transform: translateX(-20%);
      }
      to {
        transform: translateX(0%);
      }
}

@keyframes slide-left {
    from {
        transform: translateX(20%);
      }
    to {
        transform: translateX(0%);
    }
}

@keyframes appear {
	from {
		opacity: 0;
	}
    to {
        opacity: 1;
    }
}

.page3 .content {
    justify-content: flex-start;
}
.page div.skills {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    align-items: center;
    gap: 30px;
    font-size: 24px;
}

.skills div:nth-child(2n+1) {
    text-align: right;
}


.skills div:nth-child(2n) {
    text-align: left;
}

.skills .skill-bar {
    display: block;
    height: 100%;
    width: 0;
    background-color: var(--color-5);

}
 */
