@font-face {
  font-family: "Helveticanowdisplay";
  src: url("../fonts/HelveticaNowDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helveticanowdisplay";
  src: url("../fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helveticanowdisplay";
  src: url("../fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helveticanowdisplay extlt";
  src: url("../fonts/HelveticaNowDisplay-ExtLt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wulkan display";
  src: url("../fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wulkan display";
  src: url("../fonts/WulkanDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair";
  font-stretch: 10%;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
  font-variation-settings: "wdth" 100;
}
