:root {
    --work-hover-border-shrink-value: 2em;
    --timing-function: cubic-bezier(0.33, 1, 0.68, 1);;
}


.item h4 {
    left: 2em;
    transition: all .2s 0s var(--timing-function);

}

.item:hover h4 {
    opacity: 1;
    transition: all .4s .1s var(--timing-function);

    transform: translateY(0);

}

@media screen and (min-width:768px) {
    .item h4 {
        opacity: 0;
        transform: translateY(-50%);

    }
}

.slide-up {
    transform: translateY(1em);
    opacity: 0;
}